@model IEnumerable<Candidate>
@{
    ViewData["Title"] = "Index";
}


<!--candidate listing start  -->
<div class="job-search-listing">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Left")
            <div class="col-lg-8">
                <div class="right-section">
                    <div class="d-flex sort-section">
                        <div class="col-6">
                            <h6 style="font-weight: bold; margin-top: 8px;">Sort By:</h6>
                        </div>
                        <div class="col-6">
                            <select class="form-control">
                                <option value="">newest</option>
                                <option value="">oldest</option>
                            </select>
                        </div>
                    </div>
                    <div class="candidates">
                        @foreach (Candidate item in Model)
                        {
                            <div class="candidate">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3">
                                        <div class="image">
                                            <img src="~/img/avatar/@item.Image" alt="candidate">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-8 px-4">
                                        <div class="about">
                                            <div class="name">
                                                @item.Fullname
                                            </div>
                                            <span><i class="far fa-check-circle"></i>@item.Profession</span>
                                            <span><i class="fas fa-map-marker-alt"></i>@item.Location.Name</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 offset-md-1 offset-sm-3">
                                        <div class="btn-resume">
                                            <a asp-controller="Candidate" asp-action="Detail" asp-route-Id="@item.Id">Wiew Resume</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="pagination">
                            <ul>
                                <li>
                                    <a href="">Prev</a>
                                </li>
                                <li>
                                    <a href="" class="actived">1</a>
                                </li>
                                <li>
                                    <a href="">2</a>
                                </li>
                                <li>
                                    <a href="">3</a>
                                </li>
                                <li>
                                    <a href="">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--candidate listing end  -->