<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="shortcut icon" href="~/img/favicon.jpg" type="image/x-icon">
    <title>@ViewBag.Title</title>
</head>

<body>
    <!-- header section -->
    <header>
        <!-- responsive navbar -->
        <div class="responsive-navbar">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="logo">
                        <img src="~/img/logo/black-logo.png" alt="logo">
                    </div>
                    <div class="burger-button">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="nav-list">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="About" asp-action="Index">About</a>
                    </li>
                    <li>
                        <a asp-controller="Blog" asp-action="Index">Blog</a>
                    </li>
                    <li>
                        <a asp-controller="Contact" asp-action="Index">Contact Us</a>
                    </li>
                    <li class="page-responsive">
                        Other <i class="fas fa-caret-down ml-2"></i>
                        <div class="dropDownList">
                            <div class="left-down">
                                <ul>
                                    <li>
                                        <a asp-controller="Contact" asp-action="Index">Candidates</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Employer" asp-action="Index">Employers</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Job" asp-action="Index">Jobs</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Account" asp-action="Login">Login</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Login"><i class="fas fa-sign-out-alt mr-2"></i> Sign In</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Post"><i class="fas fa-plus mr-2"></i> Post a Job</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- responsive navbar -->
        <!-- navbar -->
        <div class="navbarSection">
            <div class="container">
                <div class="row">
                    <div class="col-2 logo">
                        <img src="~/img/logo/logo.png" alt="logo">
                    </div>
                    <div class="col-6 navbarList">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a asp-controller="About" asp-action="Index">About Us</a>
                            </li>
                            <li>
                                <a asp-controller="Blog" asp-action="Index">Blogs</a>
                            </li>
                            <li>
                                <a asp-controller="Contact" asp-action="Index">Contact Us</a>
                            </li>
                            <li class="page">
                                Other
                                <div class="dropDownList">
                                    <div class="centre-down">
                                        <ul>
                                            <li>
                                                <a asp-controller="Candidate" asp-action="Index">Candidates</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Employer" asp-action="Index">Employers</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Job" asp-action="Index">Jobs</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Account" asp-action="Login">Login</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="offset-1 col-3 d-flex">
                        <div class="SignIn">
                            <a asp-controller="Account" asp-action="Login"><i class="fas fa-sign-out-alt"></i> Sign In</a>
                        </div>
                        <div class="addPost">
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Post" class="btnPost"> Post a Job</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <!-- fixed navbar -->
        <div class="fixed-navbar">
            <div class="container">
                <div class="row">
                    <div class="col-2 logo">
                        <img src="~/img/logo/black-logo.png" alt="logo">
                    </div>
                    <div class="col-6 navbarList">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a asp-controller="About" asp-action="Index">About Us</a>
                            </li>
                            <li>
                                <a asp-controller="Blog" asp-action="Index">Blogs</a>
                            </li>
                            <li>
                                <a asp-controller="Contact" asp-action="Index">Contact Us</a>
                            </li>
                            <li class="page">
                                Other
                                <div class="dropDownList">
                                    <div class="centre-down">
                                        <ul>
                                            <li>
                                                <a asp-controller="Candidate" asp-action="Index">Candidates</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Employer" asp-action="Index">Employers</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Job" asp-action="Index">Jobs</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Account" asp-action="Login">Login</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="offset-1 col-3 d-flex">
                        <div class="SignIn">
                            <a asp-controller="Account" asp-action="Login"><i class="fas fa-sign-out-alt"></i> Sign In</a>
                        </div>
                        <div class="addPost">
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Post" class="btnPost"> Post a Job</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fixed navbar -->

    </header>
    <!-- header section -->

    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <!-- banner-area -->
        <div class="sub-banner-area">
            <div class="content">
                @if (ViewContext.RouteData.Values["action"].ToString() == "Index")
                {
                    <h2>@ViewContext.RouteData.Values["controller"].ToString()</h2>
                }
                else
                {
                <h2>
                    @(ViewContext.RouteData.Values["controller"].ToString() + " "+ ViewContext.RouteData.Values["action"].ToString())
                </h2>
                }
            </div>
        </div>
        <!-- banner-area -->
    }

    @RenderBody()
    <!-- back to top -->
    <div class="back-to-top">
        <i class="fas fa-chevron-up"></i>
    </div>
    <!-- back to top -->
    <!-- footer start -->
    <footer>
        <div class="container">
            <div class="footer-menu row">
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                    <div class="logo">
                        <img src="~/img/logo/logo.png" alt="logo">
                    </div>
                    <div class="adress">
                        <i class="fas fa-map-marker-alt"></i> 20/F Green Road, Dhanmondi, Dhaka
                    </div>
                    <div class="envelope">
                        <i class="far fa-envelope"></i> info@themevessel.com
                    </div>
                    <div class="phone">
                        <i class="fas fa-phone-alt"></i> +0477 85X6 552
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-3">
                    <h3>Helpful Links</h3>
                    <ul>
                        <li>
                            <a href="~/">About Us</a>
                        </li>
                        <li>
                            <a href="~/">Contact Us</a>
                        </li>
                        <li>
                            <a href="~/">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="~/">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="~/">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-3">
                    <h3>Job Seekers</h3>
                    <ul>
                        <li>
                            <a href="~/">Create Account</a>
                        </li>
                        <li>
                            <a href="~/">Career Counseling</a>
                        </li>
                        <li>
                            <a href="~/">My Oficiona</a>
                        </li>
                        <li>
                            <a href="~/">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-3">
                    <h3>Employers</h3>
                    <ul>
                        <li>
                            <a href="~/">Create Account</a>
                        </li>
                        <li>
                            <a href="~/">Products $ Service</a>
                        </li>
                        <li>
                            <a href="~/">Post a Task</a>
                        </li>
                        <li>
                            <a href="~/">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md mt-3 sendEmail">
                    <h3>Newsletter</h3>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                    <input type="text" placeholder="Email Adress">
                    <button><i class="fas fa-location-arrow"></i></button>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="link">
                        <span>© 2019</span>
                        <a href="~/">Theme Vessel.</a>
                        <span>Trademarks and brands are the property of their respective owners.</span>
                    </div>
                    <div class="sosial">
                        <ul>
                            <li>
                                <a href="~/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="~/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="~/">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li>
                                <a href="~/">
                                    <i class="fas fa-rss"></i>
                                </a>
                            </li>
                            <li>
                                <a href="~/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4a0d6e395d.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.2.0/jquery.countTo.min.js"></script>
    <script src="~/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="~/js/script.js"></script>
</body>

</html>
