
@{
    ViewData["Title"] = "Index";
}

<!-- blog-area start-->
<div class="blog-side">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blogs">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="blog">
                                    <div class="image">
                                        <a asp-controller="Blog" asp-action="Detail"><img src="~/img/blog/blog-1.jpg" alt=""></a>
                                        <div class="date">
                                            <p class="text-white">23</p>
                                            <p class="text-white">Feb</p>
                                        </div>
                                    </div>
                                    <div class="blog-detail">
                                        <div class="title">
                                            <h3><a asp-controller="Blog" asp-action="Detail">Back To Work Vacantion</a></h3>
                                        </div>
                                        <div class="features">
                                            <p><i class="fas fa-user"></i> Admin</p>
                                            <p><i class="far fa-comment-dots"></i> 27</p>
                                            <p><i class="far fa-heart"></i>27</p>
                                        </div>
                                        <div class="description">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has
                                            been the
                                        </div>
                                        <div class="readMore">
                                            <a asp-controller="Blog" asp-action="Detail">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog">
                                    <div class="image">
                                        <a asp-controller="Blog" asp-action="Detail"><img src="~/img/blog/blog-1.jpg" alt=""></a>
                                        <div class="date">
                                            <p class="text-white">23</p>
                                            <p class="text-white">Feb</p>
                                        </div>
                                    </div>
                                    <div class="blog-detail">
                                        <div class="title">
                                            <h3><a asp-controller="Blog" asp-action="Detail">Back To Work Vacantion</a></h3>
                                        </div>
                                        <div class="features">
                                            <p><i class="fas fa-user"></i> Admin</p>
                                            <p><i class="far fa-comment-dots"></i> 27</p>
                                            <p><i class="far fa-heart"></i>27</p>
                                        </div>
                                        <div class="description">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has
                                            been the
                                        </div>
                                        <div class="readMore">
                                            <a asp-controller="Blog" asp-action="Detail">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog">
                                    <div class="image">
                                        <a asp-controller="Blog" asp-action="Detail"><img src="~/img/blog/blog-1.jpg" alt=""></a>
                                        <div class="date">
                                            <p class="text-white">23</p>
                                            <p class="text-white">Feb</p>
                                        </div>
                                    </div>
                                    <div class="blog-detail">
                                        <div class="title">
                                            <h3><a asp-controller="Blog" asp-action="Detail">Back To Work Vacantion</a></h3>
                                        </div>
                                        <div class="features">
                                            <p><i class="fas fa-user"></i> Admin</p>
                                            <p><i class="far fa-comment-dots"></i> 27</p>
                                            <p><i class="far fa-heart"></i>27</p>
                                        </div>
                                        <div class="description">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has
                                            been the
                                        </div>
                                        <div class="readMore">
                                            <a asp-controller="Blog" asp-action="Detail">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog">
                                    <div class="image">
                                        <a asp-controller="Blog" asp-action="Detail"><img src="~/img/blog/blog-1.jpg" alt=""></a>
                                        <div class="date">
                                            <p class="text-white">23</p>
                                            <p class="text-white">Feb</p>
                                        </div>
                                    </div>
                                    <div class="blog-detail">
                                        <div class="title">
                                            <h3><a asp-controller="Blog" asp-action="Detail">Back To Work Vacantion</a></h3>
                                        </div>
                                        <div class="features">
                                            <p><i class="fas fa-user"></i> Admin</p>
                                            <p><i class="far fa-comment-dots"></i> 27</p>
                                            <p><i class="far fa-heart"></i>27</p>
                                        </div>
                                        <div class="description">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has
                                            been the
                                        </div>
                                        <div class="readMore">
                                            <a asp-controller="Blog" asp-action="Detail">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog">
                                    <div class="image">
                                        <a asp-controller="Blog" asp-action="Detail"><img src="~/img/blog/blog-1.jpg" alt=""></a>
                                        <div class="date">
                                            <p class="text-white">23</p>
                                            <p class="text-white">Feb</p>
                                        </div>
                                    </div>
                                    <div class="blog-detail">
                                        <div class="title">
                                            <h3><a asp-controller="Blog" asp-action="Detail">Back To Work Vacantion</a></h3>
                                        </div>
                                        <div class="features">
                                            <p><i class="fas fa-user"></i> Admin</p>
                                            <p><i class="far fa-comment-dots"></i> 27</p>
                                            <p><i class="far fa-heart"></i>27</p>
                                        </div>
                                        <div class="description">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has
                                            been the
                                        </div>
                                        <div class="readMore">
                                            <a asp-controller="Blog" asp-action="Detail">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog">
                                    <div class="image">
                                        <a asp-controller="Blog" asp-action="Detail"><img src="~/img/blog/blog-1.jpg" alt=""></a>
                                        <div class="date">
                                            <p class="text-white">23</p>
                                            <p class="text-white">Feb</p>
                                        </div>
                                    </div>
                                    <div class="blog-detail">
                                        <div class="title">
                                            <h3><a asp-controller="Blog" asp-action="Detail">Back To Work Vacantion</a></h3>
                                        </div>
                                        <div class="features">
                                            <p><i class="fas fa-user"></i> Admin</p>
                                            <p><i class="far fa-comment-dots"></i> 27</p>
                                            <p><i class="far fa-heart"></i>27</p>
                                        </div>
                                        <div class="description">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has
                                            been the
                                        </div>
                                        <div class="readMore">
                                            <a asp-controller="Blog" asp-action="Detail">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="">Prev</a>
                        </li>
                        <li>
                            <a href="" class="actived">1</a>
                        </li>
                        <li>
                            <a href="">2</a>
                        </li>
                        <li>
                            <a href="">3</a>
                        </li>
                        <li>
                            <a href="">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="search-side">
                    <form action="">
                        <div class="form-group search-input">
                            <h3>Search</h3>
                            <input type="text" class="form-control " placeholder="Search Keywords">
                            <button><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                    <div class="recent-post">
                        <h3>Recent Posts</h3>
                        <div class="post">
                            <div class="row">
                                <div class="col-4">
                                    <div class="image">
                                        <img src="~/img/blog/blog-1.jpg" alt="blog">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="post-detail">
                                        <div class="title">
                                            <h6>
                                                <a href="">Job Motivational Quote</a>
                                            </h6>
                                        </div>
                                        <div class="info">
                                            <span>$3000</span>
                                            <span><i class="far fa-calendar-alt"></i> Oct 27,2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="row">
                                <div class="col-4">
                                    <div class="image">
                                        <img src="~/img/blog/blog-2.jpg" alt="blog">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="post-detail">
                                        <div class="title">
                                            <h6>
                                                <a href="">How To Get Out Of Stress At Work</a>
                                            </h6>
                                        </div>
                                        <div class="info">
                                            <span>$2000</span>
                                            <span><i class="far fa-calendar-alt"></i> Oct 27,2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="row">
                                <div class="col-4">
                                    <div class="image">
                                        <img src="~/img/blog/blog-3.jpg" alt="blog">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="post-detail">
                                        <div class="title">
                                            <h6>
                                                <a href="">Back To Work After Vacation</a>
                                            </h6>
                                        </div>
                                        <div class="info">
                                            <span>$2500</span>
                                            <span><i class="far fa-calendar-alt"></i> Oct 27,2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="categoryList">
                        <h3>Categories</h3>
                        <div class="category">
                            <div class="row justify-content-between">
                                <p>Information</p>
                                <p>(45)</p>
                            </div>
                        </div>
                        <div class="category">
                            <div class="row justify-content-between">
                                <p>Jobs</p>
                                <p>(21)</p>
                            </div>
                        </div>
                        <div class="category">
                            <div class="row justify-content-between">
                                <p>Education</p>
                                <p>(18)</p>
                            </div>
                        </div>
                        <div class="category">
                            <div class="row justify-content-between">
                                <p>Skill</p>
                                <p>(32)</p>
                            </div>
                        </div>
                        <div class="category">
                            <div class="row justify-content-between">
                                <p>Learn</p>
                                <p>(9)</p>
                            </div>
                        </div>
                        <div class="category">
                            <div class="row justify-content-between">
                                <p>Other</p>
                                <p>(22)</p>
                            </div>
                        </div>
                    </div>
                    <div class="tagList">
                        <h3>Tags</h3>
                        <div class="tag">
                            <a href="">Image</a>
                        </div>
                        <div class="tag">
                            <a href="">Features</a>
                        </div>
                        <div class="tag">
                            <a href="">Gallery</a>
                        </div>
                        <div class="tag">
                            <a href="">Slideshow</a>
                        </div>
                        <div class="tag">
                            <a href="">Post Formats</a>
                        </div>
                        <div class="tag">
                            <a href="">Typography</a>
                        </div>
                        <div class="tag">
                            <a href="">Best Sellers</a>
                        </div>
                        <div class="tag">
                            <a href="">Woo Commerce</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-area end -->
